<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <!-- relative path -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href={{icon}}>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Hello from: {{name}}</p>
        <form action="">
            <input type="text" placeholder="Location">
            <input type="button" value="Search" id="button">
        </form>

        <p id="messageOne"></p>
        <p id="messageTwo"></p>
    </div>
    {{>footer}}
    
    <script src="./js/app.js"></script>
</body>
</html>